<div class="container mt-5">

	<div class="row">
		<div class="col-md-3">
			<search-side-bar></search-side-bar>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<h4>Results:</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-bordered table-hover table-responsive">
						<thead>
							<tr>
								<th class="col-md-1"></th>
								<th>Profile</th>
								<th>Sub title</th>
								<th>Country</th>
								<th class="col-md-1">Enabled</th>
								<th class="col-md-1">Visible</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-">
								<td><img src="http://img.businessoffashion.com/50/50/magic/profiles/asset/182/184c41b5f921f6c4b3121deb6ea3bc8f8fc11bd9.jpeg"></td>
								<td>Gianvito Rossi</td>
								<td>Designer, Gianvito Rossi</td>
								<td>Italy</td>
								<td class="text-center"><i class="glyphicon glyphicon-ok text-color-green"></i></td>
								<td class="text-center"><i class="glyphicon glyphicon-remove text-color-red"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="pagination col-md-pull-5">
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</div>
<!-- /container -->